.test{
  float: left;
  position: relative;
  padding: 50px;
  bottom: 60px;
  right: 20px;
}

.test2{
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  text-decoration: none;
  color: white;
  float: right;
  position: relative;
  bottom: 60px;
  right: 20px;
}






